<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <h1>test</h1>
            <video
                width="100px"
                height="100px"
                src="https://qncdn.mopic.mozigu.net/user_assets/barrage_video/5b68f6f21450620a10069c58/888_original.mp4"
                controls="controls"
            >
                不支持
            </video>
        </div>
    </body>
</html>
